USE [OnlineBankDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchAccountsByName]    Script Date: 28/04/2026 14:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchAccountsByName]
    @SearchTerm NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        AccountID,
        CustomerID,
        AccountName,
        AccountType,
        OpeningDate,
        Status,
        CurrentBalance
    FROM Accounts
    WHERE AccountName LIKE '%' + @SearchTerm + '%'
    ORDER BY OpeningDate DESC;
END;
GO
