USE [OnlineBankDB]
GO
/****** Object:  View [dbo].[vw_AllTransactionsWithOverdueFees]    Script Date: 28/04/2026 14:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AllTransactionsWithOverdueFees]
AS
SELECT
    t.TransactionID,
    c.CustomerID,
    c.FullName,
    a.AccountID,
    a.AccountName,
    a.AccountType,
    t.TransactionType,
    t.TransactionAmount,
    t.TransactionDate,
    t.DueDate,
    t.CompletionDate,
    t.Description,
    ofe.OverdueFeeID,
    ofe.DaysOverdue,
    ofe.FeeAmount,
    ofe.TotalRepaid,
    ofe.OutstandingBalance
FROM Transactions t
INNER JOIN Customers c ON t.CustomerID = c.CustomerID
INNER JOIN Accounts a ON t.AccountID = a.AccountID
LEFT JOIN OverdueFees ofe ON t.TransactionID = ofe.TransactionID;
GO
