USE [OnlineBankDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCustomerOverdueRepaymentPercentage]    Script Date: 28/04/2026 14:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetCustomerOverdueRepaymentPercentage] (@CustomerID INT)
RETURNS DECIMAL(5,2)
AS
BEGIN
    DECLARE @TotalFees DECIMAL(12,2);
    DECLARE @TotalRepaid DECIMAL(12,2);
    DECLARE @Result DECIMAL(5,2);

    SELECT @TotalFees = ISNULL(SUM(FeeAmount), 0)
    FROM OverdueFees
    WHERE CustomerID = @CustomerID;

    SELECT @TotalRepaid = ISNULL(SUM(TotalRepaid), 0)
    FROM OverdueFees
    WHERE CustomerID = @CustomerID;

    IF @TotalFees = 0
        SET @Result = 0;
    ELSE
        SET @Result = (@TotalRepaid / @TotalFees) * 100;

    RETURN @Result;
END;
GO
