USE [master]
GO
/****** Object:  Database [OnlineBankDB]    Script Date: 28/04/2026 14:13:54 ******/
CREATE DATABASE [OnlineBankDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineBankDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OnlineBankDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineBankDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OnlineBankDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineBankDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineBankDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCustomerOverdueRepaymentPercentage]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetCustomerOverdueRepaymentPercentage] (@CustomerID INT)
RETURNS DECIMAL(5,2)
AS
BEGIN
    DECLARE @TotalFees DECIMAL(12,2);
    DECLARE @TotalRepaid DECIMAL(12,2);
    DECLARE @Result DECIMAL(5,2);

    SELECT @TotalFees = ISNULL(SUM(FeeAmount), 0)
    FROM OverdueFees
    WHERE CustomerID = @CustomerID;

    SELECT @TotalRepaid = ISNULL(SUM(TotalRepaid), 0)
    FROM OverdueFees
    WHERE CustomerID = @CustomerID;

    IF @TotalFees = 0
        SET @Result = 0;
    ELSE
        SET @Result = (@TotalRepaid / @TotalFees) * 100;

    RETURN @Result;
END;
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[AddressLine] [nvarchar](200) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Telephone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[MarketingRetained] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[AccountType] [nvarchar](20) NOT NULL,
	[OpeningDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ClosedOrFrozenDate] [date] NULL,
	[UniqueReferenceNumber] [nvarchar](50) NULL,
	[CurrentBalance] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[TransactionType] [nvarchar](30) NOT NULL,
	[TransactionAmount] [decimal](12, 2) NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[DueDate] [date] NULL,
	[CompletionDate] [datetime2](7) NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OverdueFees]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OverdueFees](
	[OverdueFeeID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[DaysOverdue] [int] NOT NULL,
	[FeeAmount] [decimal](12, 2) NOT NULL,
	[FeeDate] [datetime2](7) NOT NULL,
	[TotalRepaid] [decimal](12, 2) NOT NULL,
	[OutstandingBalance]  AS ([FeeAmount]-[TotalRepaid]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[OverdueFeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AllTransactionsWithOverdueFees]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AllTransactionsWithOverdueFees]
AS
SELECT
    t.TransactionID,
    c.CustomerID,
    c.FullName,
    a.AccountID,
    a.AccountName,
    a.AccountType,
    t.TransactionType,
    t.TransactionAmount,
    t.TransactionDate,
    t.DueDate,
    t.CompletionDate,
    t.Description,
    ofe.OverdueFeeID,
    ofe.DaysOverdue,
    ofe.FeeAmount,
    ofe.TotalRepaid,
    ofe.OutstandingBalance
FROM Transactions t
INNER JOIN Customers c ON t.CustomerID = c.CustomerID
INNER JOIN Accounts a ON t.AccountID = a.AccountID
LEFT JOIN OverdueFees ofe ON t.TransactionID = ofe.TransactionID;
GO
/****** Object:  Table [dbo].[Repayments]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repayments](
	[RepaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OverdueFeeID] [int] NOT NULL,
	[RepaymentDateTime] [datetime2](7) NOT NULL,
	[RepaymentAmount] [decimal](12, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RepaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0.00)) FOR [CurrentBalance]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [MarketingRetained]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[OverdueFees] ADD  DEFAULT (sysdatetime()) FOR [FeeDate]
GO
ALTER TABLE [dbo].[OverdueFees] ADD  DEFAULT ((0.00)) FOR [TotalRepaid]
GO
ALTER TABLE [dbo].[Repayments] ADD  DEFAULT (sysdatetime()) FOR [RepaymentDateTime]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (sysdatetime()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Customers]
GO
ALTER TABLE [dbo].[OverdueFees]  WITH CHECK ADD  CONSTRAINT [FK_OverdueFees_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[OverdueFees] CHECK CONSTRAINT [FK_OverdueFees_Customers]
GO
ALTER TABLE [dbo].[OverdueFees]  WITH CHECK ADD  CONSTRAINT [FK_OverdueFees_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([TransactionID])
GO
ALTER TABLE [dbo].[OverdueFees] CHECK CONSTRAINT [FK_OverdueFees_Transactions]
GO
ALTER TABLE [dbo].[Repayments]  WITH CHECK ADD  CONSTRAINT [FK_Repayments_OverdueFees] FOREIGN KEY([OverdueFeeID])
REFERENCES [dbo].[OverdueFees] ([OverdueFeeID])
GO
ALTER TABLE [dbo].[Repayments] CHECK CONSTRAINT [FK_Repayments_OverdueFees]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Accounts]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Customers]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CHK_Accounts_AccountType] CHECK  (([AccountType]='Investment' OR [AccountType]='Credit Card' OR [AccountType]='Loan' OR [AccountType]='Checking' OR [AccountType]='Savings'))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CHK_Accounts_AccountType]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CHK_Accounts_RefRequired] CHECK  ((([AccountType]='Credit Card' OR [AccountType]='Loan') AND [UniqueReferenceNumber] IS NOT NULL OR NOT ([AccountType]='Credit Card' OR [AccountType]='Loan')))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CHK_Accounts_RefRequired]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CHK_Accounts_Status] CHECK  (([Status]='Frozen' OR [Status]='Closed' OR [Status]='Dormant' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CHK_Accounts_Status]
GO
ALTER TABLE [dbo].[OverdueFees]  WITH CHECK ADD  CONSTRAINT [CHK_OverdueFees_Days] CHECK  (([DaysOverdue]>=(1)))
GO
ALTER TABLE [dbo].[OverdueFees] CHECK CONSTRAINT [CHK_OverdueFees_Days]
GO
ALTER TABLE [dbo].[OverdueFees]  WITH CHECK ADD  CONSTRAINT [CHK_OverdueFees_FeeAmount] CHECK  (([FeeAmount]>=(0)))
GO
ALTER TABLE [dbo].[OverdueFees] CHECK CONSTRAINT [CHK_OverdueFees_FeeAmount]
GO
ALTER TABLE [dbo].[OverdueFees]  WITH CHECK ADD  CONSTRAINT [CHK_OverdueFees_TotalRepaid] CHECK  (([TotalRepaid]>=(0) AND [TotalRepaid]<=[FeeAmount]))
GO
ALTER TABLE [dbo].[OverdueFees] CHECK CONSTRAINT [CHK_OverdueFees_TotalRepaid]
GO
ALTER TABLE [dbo].[Repayments]  WITH CHECK ADD  CONSTRAINT [CHK_Repayments_Amount] CHECK  (([RepaymentAmount]>(0)))
GO
ALTER TABLE [dbo].[Repayments] CHECK CONSTRAINT [CHK_Repayments_Amount]
GO
ALTER TABLE [dbo].[Repayments]  WITH CHECK ADD  CONSTRAINT [CHK_Repayments_Method] CHECK  (([PaymentMethod]='Cash' OR [PaymentMethod]='Card' OR [PaymentMethod]='Bank Transfer'))
GO
ALTER TABLE [dbo].[Repayments] CHECK CONSTRAINT [CHK_Repayments_Method]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CHK_Transactions_Amount] CHECK  (([TransactionAmount]>=(0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CHK_Transactions_Amount]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CHK_Transactions_Type] CHECK  (([TransactionType]='Fee Payment' OR [TransactionType]='Transfer' OR [TransactionType]='Credit Card Payment' OR [TransactionType]='Loan Payment' OR [TransactionType]='Withdrawal' OR [TransactionType]='Deposit'))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CHK_Transactions_Type]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentsDueInLessThan5Days]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPaymentsDueInLessThan5Days]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        t.TransactionID,
        c.FullName,
        a.AccountName,
        a.AccountType,
        t.TransactionAmount,
        t.DueDate,
        DATEDIFF(DAY, CAST(GETDATE() AS DATE), t.DueDate) AS DaysRemaining,
        t.Description
    FROM Transactions t
    INNER JOIN Customers c ON t.CustomerID = c.CustomerID
    INNER JOIN Accounts a ON t.AccountID = a.AccountID
    WHERE a.AccountType IN ('Loan', 'Credit Card')
      AND t.CompletionDate IS NULL
      AND t.DueDate IS NOT NULL
      AND t.DueDate >= CAST(GETDATE() AS DATE)
      AND t.DueDate < DATEADD(DAY, 5, CAST(GETDATE() AS DATE))
    ORDER BY t.DueDate ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCustomer]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertCustomer]
    @FullName NVARCHAR(100),
    @AddressLine NVARCHAR(200),
    @DateOfBirth DATE,
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
    @Email NVARCHAR(100) = NULL,
    @Telephone NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Customers
    (
        FullName, AddressLine, DateOfBirth, Username, PasswordHash, Email, Telephone
    )
    VALUES
    (
        @FullName, @AddressLine, @DateOfBirth, @Username, @PasswordHash, @Email, @Telephone
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SearchAccountsByName]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SearchAccountsByName]
    @SearchTerm NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        AccountID,
        CustomerID,
        AccountName,
        AccountType,
        OpeningDate,
        Status,
        CurrentBalance
    FROM Accounts
    WHERE AccountName LIKE '%' + @SearchTerm + '%'
    ORDER BY OpeningDate DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomer]    Script Date: 28/04/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[sp_UpdateCustomer]
    @CustomerID INT,
    @FullName NVARCHAR(100),
    @AddressLine NVARCHAR(200),
    @DateOfBirth DATE,
    @Username NVARCHAR(50),
    @Email NVARCHAR(100) = NULL,
    @Telephone NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Customers
    SET
        FullName = @FullName,
        AddressLine = @AddressLine,
        DateOfBirth = @DateOfBirth,
        Username = @Username,
        Email = @Email,
        Telephone = @Telephone
    WHERE CustomerID = @CustomerID;
END;
GO
USE [master]
GO
