USE [OnlineBankDB]
GO
/****** Object:  Table [dbo].[OverdueFees]    Script Date: 28/04/2026 14:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OverdueFees](
	[OverdueFeeID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[DaysOverdue] [int] NOT NULL,
	[FeeAmount] [decimal](12, 2) NOT NULL,
	[FeeDate] [datetime2](7) NOT NULL,
	[TotalRepaid] [decimal](12, 2) NOT NULL,
	[OutstandingBalance]  AS ([FeeAmount]-[TotalRepaid]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[OverdueFeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OverdueFees] ADD  DEFAULT (sysdatetime()) FOR [FeeDate]
GO
ALTER TABLE [dbo].[OverdueFees] ADD  DEFAULT ((0.00)) FOR [TotalRepaid]
GO
ALTER TABLE [dbo].[OverdueFees]  WITH CHECK ADD  CONSTRAINT [FK_OverdueFees_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[OverdueFees] CHECK CONSTRAINT [FK_OverdueFees_Customers]
GO
ALTER TABLE [dbo].[OverdueFees]  WITH CHECK ADD  CONSTRAINT [FK_OverdueFees_Transactions] FOREIGN KEY([TransactionID])
REFERENCES [dbo].[Transactions] ([TransactionID])
GO
ALTER TABLE [dbo].[OverdueFees] CHECK CONSTRAINT [FK_OverdueFees_Transactions]
GO
ALTER TABLE [dbo].[OverdueFees]  WITH CHECK ADD  CONSTRAINT [CHK_OverdueFees_Days] CHECK  (([DaysOverdue]>=(1)))
GO
ALTER TABLE [dbo].[OverdueFees] CHECK CONSTRAINT [CHK_OverdueFees_Days]
GO
ALTER TABLE [dbo].[OverdueFees]  WITH CHECK ADD  CONSTRAINT [CHK_OverdueFees_FeeAmount] CHECK  (([FeeAmount]>=(0)))
GO
ALTER TABLE [dbo].[OverdueFees] CHECK CONSTRAINT [CHK_OverdueFees_FeeAmount]
GO
ALTER TABLE [dbo].[OverdueFees]  WITH CHECK ADD  CONSTRAINT [CHK_OverdueFees_TotalRepaid] CHECK  (([TotalRepaid]>=(0) AND [TotalRepaid]<=[FeeAmount]))
GO
ALTER TABLE [dbo].[OverdueFees] CHECK CONSTRAINT [CHK_OverdueFees_TotalRepaid]
GO
