USE [OnlineBankDB]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 28/04/2026 15:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[TransactionType] [nvarchar](30) NOT NULL,
	[TransactionAmount] [decimal](12, 2) NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[DueDate] [date] NULL,
	[CompletionDate] [datetime2](7) NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([TransactionID], [CustomerID], [AccountID], [TransactionType], [TransactionAmount], [TransactionDate], [DueDate], [CompletionDate], [Description]) VALUES (1, 1, 1, N'Deposit', CAST(500.00 AS Decimal(12, 2)), CAST(N'2025-03-01T10:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-03-01T10:00:00.0000000' AS DateTime2), N'Salary deposit')
INSERT [dbo].[Transactions] ([TransactionID], [CustomerID], [AccountID], [TransactionType], [TransactionAmount], [TransactionDate], [DueDate], [CompletionDate], [Description]) VALUES (2, 2, 2, N'Withdrawal', CAST(100.00 AS Decimal(12, 2)), CAST(N'2025-03-03T11:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-03-03T11:00:00.0000000' AS DateTime2), N'ATM cash withdrawal')
INSERT [dbo].[Transactions] ([TransactionID], [CustomerID], [AccountID], [TransactionType], [TransactionAmount], [TransactionDate], [DueDate], [CompletionDate], [Description]) VALUES (3, 3, 3, N'Loan Payment', CAST(500.00 AS Decimal(12, 2)), CAST(N'2026-04-18T09:00:00.0000000' AS DateTime2), CAST(N'2026-04-20' AS Date), CAST(N'2026-04-21T12:00:00.0000000' AS DateTime2), N'Monthly car loan payment')
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (sysdatetime()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Accounts] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Accounts]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Customers]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CHK_Transactions_Amount] CHECK  (([TransactionAmount]>=(0)))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CHK_Transactions_Amount]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [CHK_Transactions_Type] CHECK  (([TransactionType]='Fee Payment' OR [TransactionType]='Transfer' OR [TransactionType]='Credit Card Payment' OR [TransactionType]='Loan Payment' OR [TransactionType]='Withdrawal' OR [TransactionType]='Deposit'))
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [CHK_Transactions_Type]
GO
