USE [OnlineBankDB]
GO
/****** Object:  Table [dbo].[Repayments]    Script Date: 28/04/2026 15:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repayments](
	[RepaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OverdueFeeID] [int] NOT NULL,
	[RepaymentDateTime] [datetime2](7) NOT NULL,
	[RepaymentAmount] [decimal](12, 2) NOT NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RepaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Repayments] ON 

INSERT [dbo].[Repayments] ([RepaymentID], [OverdueFeeID], [RepaymentDateTime], [RepaymentAmount], [PaymentMethod]) VALUES (1, 2, CAST(N'2026-04-25T10:00:00.0000000' AS DateTime2), CAST(10.00 AS Decimal(12, 2)), N'Card')
INSERT [dbo].[Repayments] ([RepaymentID], [OverdueFeeID], [RepaymentDateTime], [RepaymentAmount], [PaymentMethod]) VALUES (2, 3, CAST(N'2026-04-21T09:30:00.0000000' AS DateTime2), CAST(20.00 AS Decimal(12, 2)), N'Bank Transfer')
INSERT [dbo].[Repayments] ([RepaymentID], [OverdueFeeID], [RepaymentDateTime], [RepaymentAmount], [PaymentMethod]) VALUES (3, 1, CAST(N'2026-04-22T11:50:22.7091595' AS DateTime2), CAST(10.00 AS Decimal(12, 2)), N'Cash')
SET IDENTITY_INSERT [dbo].[Repayments] OFF
GO
ALTER TABLE [dbo].[Repayments] ADD  DEFAULT (sysdatetime()) FOR [RepaymentDateTime]
GO
ALTER TABLE [dbo].[Repayments]  WITH CHECK ADD  CONSTRAINT [FK_Repayments_OverdueFees] FOREIGN KEY([OverdueFeeID])
REFERENCES [dbo].[OverdueFees] ([OverdueFeeID])
GO
ALTER TABLE [dbo].[Repayments] CHECK CONSTRAINT [FK_Repayments_OverdueFees]
GO
ALTER TABLE [dbo].[Repayments]  WITH CHECK ADD  CONSTRAINT [CHK_Repayments_Amount] CHECK  (([RepaymentAmount]>(0)))
GO
ALTER TABLE [dbo].[Repayments] CHECK CONSTRAINT [CHK_Repayments_Amount]
GO
ALTER TABLE [dbo].[Repayments]  WITH CHECK ADD  CONSTRAINT [CHK_Repayments_Method] CHECK  (([PaymentMethod]='Cash' OR [PaymentMethod]='Card' OR [PaymentMethod]='Bank Transfer'))
GO
ALTER TABLE [dbo].[Repayments] CHECK CONSTRAINT [CHK_Repayments_Method]
GO
