USE [OnlineBankDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 28/04/2026 15:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[AccountName] [nvarchar](100) NOT NULL,
	[AccountType] [nvarchar](20) NOT NULL,
	[OpeningDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ClosedOrFrozenDate] [date] NULL,
	[UniqueReferenceNumber] [nvarchar](50) NULL,
	[CurrentBalance] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [CustomerID], [AccountName], [AccountType], [OpeningDate], [Status], [ClosedOrFrozenDate], [UniqueReferenceNumber], [CurrentBalance]) VALUES (1, 1, N'Everyday Saver', N'Savings', CAST(N'2024-01-10' AS Date), N'Active', NULL, NULL, CAST(2500.00 AS Decimal(12, 2)))
INSERT [dbo].[Accounts] ([AccountID], [CustomerID], [AccountName], [AccountType], [OpeningDate], [Status], [ClosedOrFrozenDate], [UniqueReferenceNumber], [CurrentBalance]) VALUES (2, 2, N'Main Current Account', N'Checking', CAST(N'2023-09-15' AS Date), N'Active', NULL, NULL, CAST(1800.00 AS Decimal(12, 2)))
INSERT [dbo].[Accounts] ([AccountID], [CustomerID], [AccountName], [AccountType], [OpeningDate], [Status], [ClosedOrFrozenDate], [UniqueReferenceNumber], [CurrentBalance]) VALUES (3, 3, N'Car Loan', N'Loan', CAST(N'2024-06-01' AS Date), N'Active', NULL, N'LN-30001', CAST(5000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0.00)) FOR [CurrentBalance]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Customers]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CHK_Accounts_AccountType] CHECK  (([AccountType]='Investment' OR [AccountType]='Credit Card' OR [AccountType]='Loan' OR [AccountType]='Checking' OR [AccountType]='Savings'))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CHK_Accounts_AccountType]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CHK_Accounts_RefRequired] CHECK  ((([AccountType]='Credit Card' OR [AccountType]='Loan') AND [UniqueReferenceNumber] IS NOT NULL OR NOT ([AccountType]='Credit Card' OR [AccountType]='Loan')))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CHK_Accounts_RefRequired]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [CHK_Accounts_Status] CHECK  (([Status]='Frozen' OR [Status]='Closed' OR [Status]='Dormant' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [CHK_Accounts_Status]
GO
