USE [OnlineBankDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPaymentsDueInLessThan5Days]    Script Date: 28/04/2026 15:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetPaymentsDueInLessThan5Days]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        t.TransactionID,
        c.FullName,
        a.AccountName,
        a.AccountType,
        t.TransactionAmount,
        t.DueDate,
        DATEDIFF(DAY, CAST(GETDATE() AS DATE), t.DueDate) AS DaysRemaining,
        t.Description
    FROM Transactions t
    INNER JOIN Customers c ON t.CustomerID = c.CustomerID
    INNER JOIN Accounts a ON t.AccountID = a.AccountID
    WHERE a.AccountType IN ('Loan', 'Credit Card')
      AND t.CompletionDate IS NULL
      AND t.DueDate IS NOT NULL
      AND t.DueDate >= CAST(GETDATE() AS DATE)
      AND t.DueDate < DATEADD(DAY, 5, CAST(GETDATE() AS DATE))
    ORDER BY t.DueDate ASC;
END;
GO
