USE [OnlineBankDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCustomer]    Script Date: 28/04/2026 15:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertCustomer]
    @FullName NVARCHAR(100),
    @AddressLine NVARCHAR(200),
    @DateOfBirth DATE,
    @Username NVARCHAR(50),
    @PasswordHash NVARCHAR(255),
    @Email NVARCHAR(100) = NULL,
    @Telephone NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Customers
    (
        FullName, AddressLine, DateOfBirth, Username, PasswordHash, Email, Telephone
    )
    VALUES
    (
        @FullName, @AddressLine, @DateOfBirth, @Username, @PasswordHash, @Email, @Telephone
    );
END;
GO
