USE [OnlineBankDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCustomer]    Script Date: 28/04/2026 14:12:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[sp_UpdateCustomer]
    @CustomerID INT,
    @FullName NVARCHAR(100),
    @AddressLine NVARCHAR(200),
    @DateOfBirth DATE,
    @Username NVARCHAR(50),
    @Email NVARCHAR(100) = NULL,
    @Telephone NVARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Customers
    SET
        FullName = @FullName,
        AddressLine = @AddressLine,
        DateOfBirth = @DateOfBirth,
        Username = @Username,
        Email = @Email,
        Telephone = @Telephone
    WHERE CustomerID = @CustomerID;
END;
GO
